@use "sass:math";

$containerWidth: 856;
$padding: 40;

$md1: $containerWidth + $padding;

:root {
  --primary-color: #ff6464;
  --secondary-color: #00a8cc;
  --dark-color: #21243d;
  --light-color: #8695a4;

  --text-color: #21243d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // overflow-x: hidden;
  color: var(--text-color);
  font-family: 'Heebo', sans-serif;
}

.reference {
  position: absolute;
  left: 0;
  padding: 0;
  margin: 0;
  top: 0;
  width: 100%;
  height: 2041px;
  z-index: 10;

  div {
    margin: 0 auto;
    width: 1152px;
    height: 100%;

    opacity: 30%;

    background-image: url('./reference/home.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.header {
  width: 100%;

  &__logo {
    width: 50px;
    fill: var(--dark-color);

    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      transform: rotate(2turn) scale(1.2);
      fill: var(--primary-color);
    }
  }

  &__container {
    max-width: 1012px;
    min-height: 80px;

    padding: 0 20px;
    margin: 0 auto;

    display: flex;
    // justify-content: flex-end;
    justify-content: space-between;
    align-items: center;
  }

  &__menu-icon {
    display: none;
    cursor: pointer;
    height: 18px;
    width: 30px;
    position: relative;

    @media (max-width: $md1 + 0px) {
      display: block;
    }

    &:hover {
      span:nth-child(1) {
        top: 50%;
        transform: translate(0px, -50%) rotate(45deg);
      }

      span:nth-child(2) {
        opacity: 0;
      }

      span:nth-child(3) {
        bottom: 50%;
        transform: translate(0px, 50%) rotate(-45deg);
      }
    }

    span {
      position: absolute;
      left: 0;
      background-color: #21243d;
      height: 10%;
      border-radius: 1px;
      width: 100%;
      transition: all 0.3s ease-in-out;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: 50%;
        transform: translate(0px, -50%);
      }

      &:nth-child(3) {
        bottom: 0;
      }
    }
  }

  &__menu {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;

    @media (max-width: $md1 + 0px) {
      position: absolute;
      top: 0;
      left: -200%;
    }
  }

  &__list {
    display: flex;
    list-style: none;
  }

  &__item {
    margin-right: 33px;

    &:last-of-type {
      margin-right: 0;
    }
  }
  &__link {
    text-decoration: none;
    color: black;

    transition: all 0.3s ease 0s;

    &:hover {
      color: var(--primary-color);
      border-bottom: 1px solid var(--primary-color);
    }
  }
}

.main {
  width: 100%;

  &__container {
    max-width: $containerWidth + 0px;
    min-height: 500px;

    display: grid;
    grid-column-gap: 5%;
    grid-template-columns: 60% 1fr;
    align-items: center;
    justify-items: self-end;
    margin: 0 auto;

    @media (max-width: $md1 + 0px) {
      grid-template-columns: 1fr;
      justify-content: center;
      margin-bottom: 70px;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    font-style: normal;
    align-items: flex-start;
    color: var(--dark-color);

    @media (max-width: $md1 + 0px) {
      order: 2;
      align-items: center;
    }

    h1 {
      font-weight: bold;
      font-style: normal;
      font-size: 44px;
      line-height: math.div(60, 44) * 100%;
      margin-bottom: 40px;

      @media (max-width: $md1 + px) {
        text-align: center;
        font-size: 32px;
        line-height: math.div(40, 32) * 100%;
      }
    }

    p {
      font-weight: normal;
      font-style: normal;
      font-size: 16px;
      line-height: math.div(23, 16) * 100%;
      margin-bottom: 40px;

      @media (max-width: $md1 + px) {
        text-align: center;
        font-size: 16px;
        line-height: math.div(23, 16) * 100%;
        margin: 0 24px 40px;
      }
    }

    button {
      background-color: var(--primary-color);
      outline: 0;
      border: none;
      cursor: pointer;
      font-weight: 500;
      font-size: 20px;
      padding: 10px 40px;
      line-height: math.div(29, 20) * 100%;

      color: #ffffff;
      border-radius: 2px;

      transition: all 0.3s ease 0s;

      &:hover {
        background-color: #df6464;
        transform: scale(1.05);
      }
    }
  }

  &__illustration {
    @media (max-width: $md1 + 0px) {
      justify-self: center;
    }
  }

  &__image {
    --image-size: 243px;
    width: var(--image-size);
    height: var(--image-size);
    position: relative;

    @media (max-width: $md1 + 0px) {
      --image-size: 170px;
      margin: 80px 0 40px 0;
    }

    img {
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }

  &__shadow {
    z-index: -1;
    position: absolute;
    top: 13px;
    right: 5px;
    width: var(--image-size);
    height: var(--image-size);
    border-radius: 50%;
    background: #edf7fa;
  }
}

.recent-posts {
  width: 100%;
  background-color: #edf7fa;

  &__container {
    max-width: $containerWidth + 0px;

    margin: 0 auto;
    padding-bottom: 48px;
  }

  &__header {
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $md1 + 0px) {
      justify-content: center;
    }

    h3 {
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: math.div(60, 22) * 100%;

      @media (max-width: $md1 + 0px) {
        font-size: 18px;
      }
    }

    span {
      font-size: 16px;
      line-height: math.div(23, 16) * 100%;

      color: var(--secondary-color);

      @media (max-width: $md1 + 0px) {
        display: none;
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 418px);
    column-gap: 20px;

    @media (max-width: $md1 + 0px) {
      grid-template-columns: 1fr;
      row-gap: 18px;
    }
  }

  &__item {
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 4px;

    @media (max-width: $md1 + 0px) {
      margin: 0 11px;
    }

    .recent-post {
      padding: 23px;

      &__title {
        font-size: 26px;
        font-style: normal;
        font-weight: bold;
        line-height: math.div(38, 26) * 100%;
        margin: 24px 21px 26px 23px;

        @media (max-width: $md1 + 0px) {
          font-size: 22px;
          line-height: math.div(30, 22) * 100%;
          text-align: center;
        }
      }

      &__info {
        font-size: 18px;
        font-style: normal;
        font-weight: normal;
        line-height: math.div(26, 18) * 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        margin: 24px 21px 19px 23px;

        @media (max-width: $md1 + 0px) {
          font-size: 18px;
          line-height: math.div(26, 18) * 100%;
          justify-content: center;
        }

        .separator {
          width: 1px;
          height: 21px;
          background-color: #000;
          margin: 0 30px;
          margin-bottom: 1px;
        }
      }

      &__text {
        margin: 19px 27px 26px 23px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: math.div(23, 16) * 100%;
      }
    }
  }
}

.featured-works {
  width: 100%;

  &__container {
    max-width: $containerWidth + 0px;
    // min-height: 400px;
    margin: 0 auto;
  }

  &__header {
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $md1 + 0px) {
      justify-content: center;
    }

    h3 {
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: math.div(60, 22) * 100%;

      @media (max-width: $md1 + 0px) {
        font-size: 18px;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__work-item {
    display: grid;
    grid-template-columns: 246px 1fr;
    column-gap: 16px;
    padding-bottom: 26px;
    margin-bottom: 26px;
    border-bottom: 1px solid #e0e0e0;

    @media (max-width: $md1 + 0px) {
      grid-template-columns: 1fr;
      margin: 0 18px;
    }

    .work-item {
      &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        height: 180px;

        @media (max-width: $md1 + 0px) {
          height: auto;
        }

        border-radius: 6px;
        overflow: hidden;

        img {
          flex-shrink: 0;
          width: 100%;
          height: 100%;
        }
      }

      &__title {
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: math.div(44, 30) * 100%;
        margin-bottom: 16px;
      }

      &__tags {
        span {
          display: inline-flex;
          align-items: center;
          font-style: normal;
          font-weight: 900;
          font-size: 16px;
          padding: 2px 10px;
          background: #142850;
          border-radius: 16px;
          color: #ffffff;
          margin-right: 26px;
        }

        font-style: normal;
        font-weight: normal;
        font-size: 20px;

        color: var(--light-color);
        margin-bottom: 22px;
      }

      &__text {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: math.div(23, 16) * 100%;
      }
    }
  }
}

.footer {
  margin: 20px 0 0 0;
  font-size: 12px;
  background-color: #fafbfc;

  &__container {
    max-width: 856px;
    min-height: 80px;

    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-self: center;
    align-items: center;

    @media (max-width: $md1 + 0px) {
      flex-direction: column;
      justify-content: center;
      row-gap: 20px;
    }
  }

  &__menu {
    display: flex;
    list-style: none;

    @media (max-width: $md1 + 0px) {
      order: 2;
    }
  }

  &__item {
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__social {
    list-style: none;
    display: flex;
  }

  &__icon {
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }

    svg {
      fill: var(--dark-color);
    }
  }
}
