* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.reference {
  position: absolute;
  left: 0;
  padding: 0;
  margin: 0;
  top: 0;
  width: 100vw;
  height: 2041px;
  z-index: 10;

  div {
    margin: 0 auto;
    width: 1152px;
    height: 100%;

    opacity: 30%;

    background-image: url('./reference/home.png');
    // background-color: beige;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.header {
  width: 100vw;

  &__container {
    max-width: 1032px;
    min-height: 80px;
    background-color: blanchedalmond;
    margin: 0 auto;
  }
}

.main {
  width: 100vw;

  &__container {
    max-width: 856px;
    min-height: 500px;
    background-color: beige;
    margin: 0 auto;
  }
}

.recent {
  width: 100vw;
  background-color: #edf7fa;

  &__container {
    max-width: 856px;
    min-height: 400px;
    background-color: burlywood;
    margin: 0 auto;
  }
}
